<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
    Header set Access-Control-Allow-Methods "GET, PUT, POST, DELETE"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

AddCharset UTF-8 .html .css .php .txt .js

RewriteEngine On 

#Pas d'accès aux pages sans extension
Options -MultiViews

#Pas d'affichage de la liste des fichiers
Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

#Eviter les injections pour faire des include distants
RewriteCond %{QUERY_STRING} =http://
RewriteRule .* - [F,L]

#Faille de debugging TRACE ET TRACK du rapport nessus
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]


#############################################################
####################### URL REWRITING #######################
#############################################################

#API
DirectoryIndex index.php
RewriteRule ^api/([a-zA-Z0-9_\-]+)(/?)$ index.php?api=$1/index
RewriteRule ^api/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)(/?)$ index.php?api=$1/index&$1=$2
RewriteRule ^api/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)(/?)$ index.php?api=$1/index&$1=$2&$2=$3
RewriteRule ^api/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/(.*)(/?)$ index.php?api=$1/index&$1=$2&$2=$3&$3=$4
RewriteRule ^api/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)(/?)$ index.php?api=$1/index&$1=$2&$2=$3&$3=$4&$a=$5




